.footer {
  &__container {
    @include adaptiv-value('padding-top', 70, 35, 1);
    @include adaptiv-value('padding-bottom', 70, 35, 1);
    position: relative;
  }
  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    @include adaptiv-value('margin-bottom', 120, 70, 1);
    @include mobile {
      flex-direction: column;
    }
  }
  &__content {
    color: $title;
    @include mobile {
      margin: 0px 0px 40px 0px;
    }
  }
  &__navigations {
    display: flex;
  }
  &__menu {
    margin: 0px 60px 0px 0px;
  }
  &__socials {
    margin: 0px 100px 0px 0px;
  }
  &__logo {
    @include adaptiv-value('margin-bottom', 40, 30, 1);
  }
  &__tagline {
    @include adaptiv-value('margin-bottom', 40, 30, 1);
  }
  &__address {
  }
  &__phone {
  }
  &__menu {
  }
  &__copyright {
    color: $title;
  }
  &__decorations {
    position: absolute;
    &--bottom {
      transform: translate(-50%, 0%);
      bottom: 20%;
      left: 0;
      @include mobile{
        display: none;
      }
    }
  }
}
