.header {
  padding: 5px 0px;
  background-color: #ffffff;
  z-index: 100;
  position: relative;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    //background-color: #303948;
    //color: #fafafa;
    //border-bottom: #14213D 5px solid;
    box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
    transition: ease 0.5s;

  }
}
.menu {
  font-family: Gordita;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $sub-title;
  &__burger {
    display: none;
    @include mobile {
      display: block;
    }
    span {
      display: block;
      width: 25px;
      height: 3px;
      background: $title;
      &:nth-child(2) {
        margin: 4px 0;
      }
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(+45deg) translate(5%, 15%);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(5%, -15%);
        }
      }
    }
  }
  &__body {
    @include mobile {
      display: none;
    }
    &.active {
      display: block;
      position: absolute;
      //transition: ease 5s;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    &.active {
      transform: translate(-50%, -0%);
      display: flex;
      position: absolute;
      top: 65px;
      left: 50%;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 15px 0px 15px 0px;
      background-color: $sub-title;
      color: #ffffff;
    }
  }
  &__item {
    cursor: pointer;
    padding: 10px 12px;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    &._mobile {
      padding: 20px 12px;
      &:first-child {
        padding-left: 12px;
      }
      &:last-child {
        padding-right: 12px;
      }
    }
  }
}
