<footer class="footer section-padding-top section-padding-bottom">
  <div
    class="footer__container container border-radius"
    style="background: url('/img/footer/footer-bg.png') center / cover no-repeat"
  >
    <div class="footer__top-wrapper">
      <div class="footer__content content-text-style">
        <img src="img/footer-logo.png" alt="logo" class="footer__logo" />
        <p class="footer__tagline">Go digital with us</p>
        <p class="footer__address">50 Rays Building</p>
        <a class="footer__phone" href="tel:+12345678900">+1 (234) 567-89-00</a>
      </div>
      <div class="footer__navigations">
        <nav class="footer__menu footer-menu">
          <ul class="footer-menu__list">
            <li class="footer-menu__item footer-menu__item--active">Company</li>
            <li class="footer-menu__item">About</li>
            <li class="footer-menu__item">Blog</li>
            <li class="footer-menu__item">Gallery</li>
            <li class="footer-menu__item">Contact</li>
          </ul>
        </nav>
        <div class="footer__socials socials">
          <h4 class="socials__title">Social Media</h4>
          <ul class="socials__list">
            <li class="socials__item">Facebook</li>
            <li class="socials__item">Instagram</li>
            <li class="socials__item">Twitter</li>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer__copyright content-text-style">
      Copyright © 2021 Steelthemes. All Rights Reserved.
    </p>
    <svg class="footer__decorations footer__decorations--bottom decorations-dot-grid">
      <use xlink:href="img/sprite.svg#Dot-Grid"></use>
    </svg>
  </div>
</footer>
