// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import 'vars';
@import 'mixins';

body {
  font-family: Gordita;
}

.main-wrapper {
  overflow: hidden;
}
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
.not-scrollable {
  overflow: hidden;
}
.title-style {
  font-family: Gordita;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: $title;
}
.content-text-style {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $content-text;
}
.sub-title-style {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $sub-title;
}
.border-radius {
  border-radius: 35px;
}
.button {
  display: inline-block;
  padding: 15px 50px;
  font-weight: 500;
  font-size: 22px;
  background: $sub-title;
  color: #fafafa;
  @include mobile {
    padding: 13px 25px;
  }
}
.decorations-circle {
  @include adaptiv-value('width', 150, 60, 1);
  @include adaptiv-value('height', 150, 60, 1);
  border-radius: 50%;
  background: #fca311;
  &--transparent {
    opacity: 0.5;
  }
  &--litle {
    @include adaptiv-value('width', 80, 60, 1);
    @include adaptiv-value('height', 80, 60, 1);
  }
}
.decorations-semicircle {
  @include adaptiv-value('width', 100, 75, 1);
  @include adaptiv-value('height', 50, 30, 1);
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background: rgb(20, 33, 61);
  &--transparent {
    opacity: 0.5;
  }
}
.decorations-dot-grid {
}
.decorations-square {
  @include adaptiv-value('width', 100, 40, 1);
  @include adaptiv-value('height', 100, 40, 1);
  background: rgba(252, 163, 17, 0.5);
  &--transparent {
    opacity: 0.5;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.section-padding-top {
  @include adaptiv-value('padding-top', 50, 25, 1);
}
.section-padding-bottom {
  @include adaptiv-value('padding-bottom', 50, 25, 1);
}

.slider-buttons {
  display: flex;
  &__button {
    margin: 0px 40px 0px 0px;
    @include adaptiv-value('margin-right', 40, 30, 1);
    &:nth-child(2) {
      margin: 0px 0px 0px 0px;
    }
    @include adaptiv-value('width', 80, 45, 1);
    @include adaptiv-value('height', 80, 45, 1);
    filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.08));
    background: $title;
    border-radius: 35px;
    position: relative;
    &--left {
      transform: rotate(180deg);
    }
    &--right {
    }
    &:focus {
      background: rgba(20, 33, 61, 0.5);
    }
  }
  &__button-img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 27px;
    color: #ffffff;
  }
}
// Отключение иконки в кнопках слайдера
.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.img-text-grid {
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 50%;
    padding: 0px 50px 0px 0px;
    margin: 0px 0px 80px 0px;
    @include mobile {
      &:nth-child(odd) {
        padding: 0px 25px 0px 0px;
      }
      &:nth-child(even) {
        padding: 0px 0px 0px 25px;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
  }
  &__img {
    margin: 0px 15px 0px 0px;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: $sub-title;
  }
}
.img-grid {
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 50%;
    padding: 10px;
  }
  &__item-inner {
    padding: 100% 0px 0px 0px;
  }
}
.footer-menu {
  &__list {
  }
  &__item {
    cursor: pointer;
    padding: 10px 10px 10px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: $title;
    &--active {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: $title;
    }
  }
}
.socials {
  &__title {
    padding: 10px 0px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: $title;
  }
  &__list {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: $title;
  }
  &__item {
    cursor: pointer;
    padding: 10px 10px 10px 0px;
  }
}

.greeting {
  //todo Пофиксить отступ сверху когда хэдэр будет фиксированным
  &__container {
  }
  &__body {
    min-height: 700px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__content {
    max-width: 470px;
    @include adaptiv-value('margin-left', 60, 30, 1);
    @include adaptiv-value('margin-right', 60, 30, 1);
  }
  &__title {
    margin: 0px 0px 20px 0px;
    font-family: Gordita;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 71px;
    color: #ffffff;
  }
  &__text {
    margin: 0px 0px 20px 0px;
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
  &__button {
    color: $sub-title;
    background: #fafafa;
  }
  &__banner {
  }
}
.greeting-banner {
  width: 80%;
  margin: -80px auto 0px auto;
  @include mobile {
    margin: 15px auto 0px auto;
    width: 100%;
  }
  //todo пересмотреть эти падинги, может быть переделать их в проценты
  @include adaptiv-value('padding-top', 95, 22, 1);
  @include adaptiv-value('padding-bottom', 95, 22, 1);
  @include adaptiv-value('padding-left', 60, 22, 1);
  @include adaptiv-value('padding-right', 60, 22, 1);
  position: relative;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  background: url('/img/greeting/About-Us.png') 0 0 / cover no-repeat;
  &__title {
    color: #ffffff;
    margin: 0 0 30px 0;
  }
  &__text {
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    margin: 0 0 5px 0;
  }
  &__button {
    display: block;
    margin-left: auto;
    color: #ffffff;
    font-size: 30px;
    text-align: right;
    i {
      color: #ffffff;
    }
  }
}
.clients {
  &__container {
  }
  &__title {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
  &__description {
    margin: 0px 0px 38px 0px;
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: 17px 14px;
  }
}
.services {
  @include mobile {
    padding-bottom: 0;
  }
  &__container {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }
  &__img-wrapper {
    width: 50%;
    padding: 0px 85px 0px 0px;
    position: relative;
    @include mobile {
      width: 100%;
      margin: 0px 0px 35px 0px;
      padding: 0px 0px 0px 0px;
    }
  }
  &__decorations {
    position: absolute;
    &--top {
      transform: translate(50%, -50%);
      top: 5%;
      @include mobile {
        right: 0;
      }
      right: 75px;
    }
    &--bottom {
      transform: translate(-50%, -50%);
      bottom: 20%;
      left: 0;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    box-shadow: 45px 45px 1px -13px rgba(49, 60, 90, 0.23);
    @include mobile {
      box-shadow: none;
    }
  }
  &__content {
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  &__subtitle {
    margin: 10px 0px 12px 0px;
  }
  &__title {
    margin: 0px 0px 12px 0px;
  }
  &__text {
    margin: 0px 0px 70px 0px;
  }
}
.process {
  // todo пересмотреть паддинг
  @include mobile {
    padding-top: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }
  &__content {
    width: 50%;
    padding: 0px 70px 0px 0px;
    @include mobile {
      width: 100%;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 35px 0px;
    }
  }
  &__title {
    @include adaptiv-value('margin-bottom', 50, 20, 1);
  }
  &__text {
    @include adaptiv-value('margin-bottom', 60, 25, 1);
  }
  &__button {
  }
  &__img-grid {
    width: 50%;
    position: relative;
    @include mobile {
      width: 100%;
    }
  }
  &__decorations {
    position: absolute;
    transform: translate(-50%, -50%);
    &--top {
      top: 0;
      right: 0;
    }
    &--center {
      top: 63%;
      left: 0;
      z-index: 2;
    }
    &--bottom {
      bottom: -22%;
      right: -37%;
      z-index: -1;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}
.mini-portfolio {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include adaptiv-value('margin-bottom', 90, 40, 1);
    @include mobile {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__content {
  }
  &__sub-title {
    @include adaptiv-value('margin-bottom', 15, 10, 1);
  }
  &__title {
    @include adaptiv-value('margin-bottom', 15, 10, 1);
  }
  &__text {
    margin: 0 0 20px 0;
  }
  &__controls {
    @include mobile {
      margin: 0 0 0 auto;
    }
  }
  &__slider {
  }
}
.mini-portfolio-slider {
  //display: flex;
  &__item {
    width: 33.3%;
    padding: 0px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      width: 100%;
    }
  }
  &__img-wrapper {
    width: 100%;
    padding: 100% 0px 0px 0px;
    margin: 0px 0px 35px 0px;
  }
  &__img {
  }
  &__title {
    margin: 0px 0px 15px 0px;
  }
  &__text {
    margin: 0px 0px 35px 0px;
  }
  &__button {
  }
}
.reviews {
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    @include mobile {
      flex-direction: column;
    }
  }
  &__img-slider {
    overflow: visible;
    width: 35%;
    position: relative;
  }
  &__text-slider {
    width: 65%;
    padding: 0px 7%;
  }
  &__controls {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__decorations {
    position: absolute;
    transform: translate(50%, 50%);
    &--top {
      top: 15px;
      right: 0;
      z-index: 2;
    }
    &--center {
      top: 30%;
      left: -10%;
      z-index: 2;
      transform: translate(0%, 0%);
    }
    &--bottom {
      bottom: 25%;
      right: 0;
      z-index: 2;
    }
  }
}
.reviews-img-slider {
  position: relative;
  @include mobile {
    width: 70%;
    margin: 0px 0px 35px 0px;
  }
  &__item {
    padding: 155% 0px 0px 0px;
  }
  &__img {
  }
}
.reviews-text-slider {
  @include mobile {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  &__item {
  }
  &__title {
    padding: 0px 0px 20px 0px;
  }
  &__text {
    margin: 0px 0 60px 0;
  }
  &__author {
    color: crimson;
  }
}

@import './components/header';
@import './components/footer';
